<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="Junaid_page" content="Discription">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">

<body>
	<div id="wrapper">		
		<p class="your_gold_text">Your gold:
		</p>
		<p class="your_gold">{{ your_gold }}</p>
		<div>
			<div>
				<form action="/process_money" method="post">
				  <p>Farm</p>
				  <p>(earns 10-20 golds)</p>
				  <input type="hidden" name="building" value="farm" />
				  <input type="submit" value="Find Gold!"/>
				</form> 
				<form action="/process_money" method="post">
				  <p>Cave</p>
				  <p>(earns 5-10 golds)</p>
				  <input type="hidden" name="building" value="cave" />
				  <input type="submit" value="Find Gold!"/>
				</form> 
				<form action="/process_money" method="post">
				  <p>House</p>
				  <p>(earns 2-5 golds)</p>
				  <input type="hidden" name="building" value="house" />
				  <input type="submit" value="Find Gold!"/>
				</form> 
				<form action="/process_money" method="post">
				  <p>Casino</p>
				  <p>(earns 0-50 golds)</p>
				  <input type="hidden" name="building" value="casino" />
				  <input type="submit" value="Find Gold!"/>
				</form>
			</div>
			<p>Activities</p>
			<div class="running_count">
			{% for val in session['activities']:%}
			<p class="{{val['class']}}"">{{ val['activity'] }}</p>
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
