<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>signup!</title>
  </head>
  <body>
    <form action="/user_page" method="post">
      Your Name: <input type="text" name="name" value="">
      Dojo Location: <select class="" name="location">
        <option value="Dallas">Dallas</option>
        <option value="San Jose">San Jose</option>
      </select>
      Favorite Language: <select class="" name="fav_lang">
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
      </select>
      Comment (optional): <textarea name="comment" rows="8" cols="40"></textarea>
      <input type="submit" name="submit" value="Submit!">
    </form>
  </body>
</html>
