<html>
  <body>
    <h1>Welcome to this form. Please enter some info below:</h1>
    <form>
      <p>Please enter your name</p>
      <label>First Name:<input type='text' name='first_name'></label>
      <label>Last Name:<input type='text' name='last_name'></label>
      <p>Please select your gender:</p>
      <label><input type="radio" name="gender" value="male"> M</label>
      <label><input type="radio" name="gender" value="female"> F</label>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
