<html>
  <body>
    <p>A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary in feudal
      Japan. The functions of the ninja included espionage, sabotage, infiltration,
      assassination and guerrilla warfare.[1] Their covert methods of waging irregular
      warfare were deemed "dishonorable" and "beneath" the samurai-caste, who observed
      strict rules about honor and combat.[2] The shinobi proper, a specially trained
      group of spies and mercenaries, appeared in the Sengoku or "warring states" period,
      in the 15th century,[3] but antecedents may have existed in the 14th century,[4]
      and possibly in the 12th century (Heian or early Kamakura era).[5][6]</p>
    <h6>--Plagiarized from Wikipedia</h6>
  </body>
</html>
