<!DOCTYPE html>
<html>
<head>
	<title>Ninja Form</title>
</head>
<body>
	<h3>Fill the following form</h3>
	<form>
  		<label>Select Gender</lable>
  			<select name="gender">
    			<option value="male">Male</option>
    			<option value="female">Female</option>
  			</select>
		<p>

		</p>
  		<label>Select the Sports you like
    		<input type="checkbox" name="sport" value="hiking">Hiking
  		</label>
  		<label>
    		<input type="checkbox" name="sport" value="soccer">Soccer
 		</label>
  		<label>
   			<input type="checkbox" name="sport" value="hockey">Hockey
  		</label>
  		<label>
    		<input type="checkbox" name="sport" value="football">Football
  		</label>
  		<p>
  		</p>
  		<label>What part of the city do you live?
    		<input type="radio" name="city sector" value="west">West
  		</label>
  		<label>
    		<input type="radio" name="city sector" value="east">East
  		</label>
  		<label>
    		<input type="radio" name="city sector" value="north">North
  		</label>
  		<label>
    		<input type="radio" name="city sector" value="south">South
  		</label>
  		<p>
  		</p>
  		<input type="submit" value="submit">
	</form>

</body>
</html>