#log {
	width: 80%;
	height: 200px;
	overflow: scroll;
}

.green {
	color: green;
}

.red {
	color: red;
}

.arena {
	padding: 20px 15px;
	border: 1px solid black;
	display: inline-block;
	margin-left: 20px;
}

span {
	padding: 7px 7px;
	border: 1px solid black;
}