<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="Junaid_page" content="Discription">
	<!-- linking a css style sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
	<!-- linking a javascript file -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->
	<!-- linking an image -->
</head>
<body>
	<div id="wrapper">		
	<h1>Counter</h1>
	<p>{{ count }} times.</p>
	<form action="/plus2" method="POST">
		<input type="submit" value="Ninja">
	</form>
	<form action="/reset">
		<input type="submit" value="Hacker">
	</form
</body>
</html>
