<html>
    <head>
       <title>edit Friend</title>
    </head>
    <style>
    span {
            border: 1px solid grey;
            padding: 5px;
            color:  silver;
            background-color: {{ session['class'] }};
    }

    h4 {
        color: green;
        font: verdana;
    }
    .red {
        color: red;
    }

    .green {
        color: green;
    }

    h3 {
        text-align: center;
        font: verdana;
    }
    form {
        margin: 20px;
    }
    </style>
    <body>
      <h3>Edit {{ specific_friend['first_name'] }} {{ specific_friend['last_name'] }}</h3>
      {% with messages = get_flashed_messages() %}
       {% if messages %}
         {% for message in messages %}
           <p><span>{{message}}</span></p>
         {% endfor %}
       {% endif %}
     {% endwith %}
      <form action='/friends/{{ specific_friend['id']}}' method='post'>
          First Name: <input type="text" name="first_name">
          Last Name: <input type="text" name="last_name">
          Email: <input type='text' name='email'>
          <input type='submit' value='Update'>
      </form>
        <div>
            <a href="/clear">RESET</a>
        </div>
    </body>
</html>
