<html>
    <head>
       <meta charset="utf-8">
       <title>Add User</title>
       <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dojos.css') }}">
    </head>
    <body>
      <div id='wrapper'>
        <div id='top'>
          <h1>Index Page</h1>
          <h3>Create a User</h3>
          <!-- read on to learn about form actions, we'll talk about the method in a later section -->
          <form action='/users' method='post'>
            Your Name: <input type='text' name='name'>
            Dojo Location: <select name="location">
              <option value='Dallas'>Dallas</option>
              <option value='San_Jose'>San Jose</option>
              <option value='Seattle'>Seattle</option>
              <option value='Chicago'>Chicago</option>
            </select>
            Favorite Language: <select name="language">
              <option value="Python">Python</option>
              <option value="Ruby">Ruby</option>
              <option value="javascript">Javascript</option>
              <option value="PHP">PHP</option>
            Comment (optional): <textarea name='comment'></textarea>
            <input type='submit' value='create user'>
          </form>
        </div>
      </div>
    </body>
</html>
