<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Friend</title>
  </head>
  <body>
    <div>
      <h1>Your Friend:</h1>
      <form action="/friends/{{id}}" method="post">
        First Name: <input type="text" name="first_name" placeholder="first_name">
        Last Name: <input type="text" name="last_name" placeholder="last_name">
        Email Address: <input type="text" name="email" placeholder="email">
        <button type="submit" name="new_friend">Change</button>
      </form>
    </div>
  </body>
</html>
