*{
	text-align:center;
}
.box{
	height: 150px;
	width: 150px;
	margin: 0px auto;
	margin-bottom: 20px;
}
.play{
	background-color: red;
}
.correct{
	background-color: green;
}
.show{
	display: block;
}
.hide{
	display: none;
}