<html>
	<head>
		<title>flask template practice</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<script type="text/javascript" src = "{{url_for('static', filename='scripts/my_script.js')}}"></script>
	</head>
  <body>
    <p> Hello, my name is {{name}}</p>
    <p> I am about to repeat my name ({{name}}, in case you forgot...) {{times}} times</p>
    {% for i in range(0,times): %}
    	<p>{{name}}</p>
    {% endfor %}

  </body>
</html>