<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey: Index</title>
	<style type="text/css">
		#main{
			border-style: solid;
			border-width: 1px;

		}
	</style>
</head>

<body>
<div id="main">

	<form action="/user" method="post">
		Your Name: <input type="text" name="name">
		Dojo Location: 
		<select name="location">
  			<option value="seatlle">Seattle</option>
  			<option value="dallas">Dallas</option>
 			<option value="siliconvalley">Silicon Valley</option>
	  		<option value="la">Los Angeles</option>
		</select>
		Favorite Language: 
		<select name="language">
  			<option value="python">Python</option>
		</select>
		Comment (optional): <textarea name='comment' rows="4" cols="50"></textarea>
		<input type="submit" value="Create User">
	</form>
</div>

</body>
</html>