<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey: Index</title>
	<style type="text/css">
		#main{
			border-style: solid;
			border-width: 1px;

		}
		#main h3{
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	</style>
</head>
<body>
	<div id="main">
		<h3>Submitted Info</h3>
		<p>Name: {{session['name']}}</p>
		<p>Dojo Location: {{session['location']}}</p>
		<p>Favorite Language: {{session['language']}}</p>
		<p>Comment: {{session['comment']}}</p>

		<input type="submit" value="Go Back">
	</div>
</body>
</html>