<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dojo Survey</title>
</head>
<body>
	<h1>Dojo Survey</h1>
	<h3>Fill out Form</h3>	
		<form action ='/info' method='post'>
			Your Name:<input type='text' name='name'>
			Dojo Location:
			<select name="dojo">
				<option value="Dallas">Dallas</option>
				<option value="Seattle">Seattle</option>
				<option value="San Francisco">San Francisco</option>
				<option value="Los Angeles">Los Angeles</option>
			</select>
			Favorite Language: 
			<select name="language">
				<option value="Python">Python</option>
				<option value="PHP">PHP</option>
				<option value="JavaScript">JavaScript</option>
				<option value="CSS">CSS</option>
			</select>
			Comment (Optional):
	    	<textarea name="comment" placeholder="type here"></textarea>
	    	<input type='submit' value='submit'>
		</form>
</body>
</html>