*{
  margin: 0;
  padding: 0;
}
.body{
  height: 900px;
  width: 1000px;
}
.wrapper{
  height: 500px;
  width: 800px;
  border: 5px solid black;
  margin: 50px 50px;
}
h2{
  margin: 20px;
  display: inline-block;
}
form{
margin-left: 0px;
}
div{
    display: inline-block;
    width: 800px;
}
form{
display: inline-block;
vertical-align: top;

}
input{
display: inline-block;
text-align: center;;
margin: 25px;
}
.s1{
  margin-left: 408px;
}
.s2{
  margin-left: 377px;
}
.s3{
  margin-left: 328px;
}
select{
  display: inline-block;;
  margin: 30px 25px;
  width: 129px;
}
.bottom{
  margin-left: 0px;
  display: block;
}
.text{
  width: 671px;
  height: 100px;
  margin-top: 0;
}
.button{
  margin-left: 650px;
  margin-top: 0px;
  border: 2px solid black;
  color: white;
  width: 70px;
  height: 25px;
  vertical-align: middle;
  background-color: lightblue;
  box-shadow: 1px 1px 0px 1px black;
}
