<!DOCTYPE html>
<html>
<head>
	<title>ninja page. it's a page about ninjas, if you couldn't tell...</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='scripts/my_scripts.js')}}"></script>
</head>
<body>
<h6>Here is some h6 element text. Finally, here is a variable that is stored in the server.py script...</h6>
<p>the variable: {{ninja_var}}</p>
<h1>just to fulfill the demands of the project....here's some information about ninjas: they were black.</h1>
</body>
</html>