.wrapper{
  padding: 20px;
}
.add{
  display: block;
}
h3{
  display: inline-block;
  margin-right: 50px;
}
form{
  display: inline-block;
  margin-right: 50px;
}
.edit{
  margin-right: 0;
}
.edit input{
  margin-right: 20px;
}
