<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>5 things you didn't know about Ninjas</h2>
	<h4>Ninjas tell time like bosses</h4>
	<p>Apart from the obvious skill of using the stars to tell time, apparently ninjas believed that the eyes of a cat are super sensitive. In fact, they believed them to be so sensitive that the cat’s eyes would reflect the movement of the sun and allow them to tell what time of the day it was. Of course just looking at the sun would be simpler, but would it be as cool?</p>
	<h4>Ninjas don't get lost</h4>
	<p>In some ways ninjas are like boy scouts, they use seemingly useless things like tree stumps and Spanish moss to figure out other seemingly useless things like which way north is. Thus they can always figure out where they are at.</p>
	<h4>Ninjas rest on top of trees</h4>
	<p>There’s not much to really say about this one. They’re ninjas. It’s what they do.</p>
	<h4>Ninjas are survivalists</h4>
	<p>Trained since birth to survive on nothing but the skin of their teeth, ninjas know which berries are edible and they can find water by observing crazy things like ant behavior.</p>
	<h4>Ninjas carry crickets in their pocket.</h4>
	<p>What better way to cover your already muffled footsteps than having a box of crickets chirping away in your pocket? In feudal Japan, those annoying insects were everywhere so they made for an assassin’s best friend.</p>
</body>
</html>