<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
	<style>
	#container{
		padding: 20px;
		background-color: green;
	}

	</style>
</head>
<body>
	<div id='container'>
	<form action='/create' method='post'>
		<h2>Login:</h2>
		<p>Username: <input type='text' name='regemail'  placeholder="E-Male"></p>
		<p>Password: <input type='password' name='regpwd' placeholder='Password'></p>
		<p><input type='submit' value='Submit'></p>
		<h3><a href = '/register'>Register</a></h3>
	</form>

	</div>
</body>
</html>