<html>
	<head>
		<meta charset="utf-8">
		<title>Dojo</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
	<h1>Dojo of Life</h1>
	<p>In the Western World, the term dōjō primarily refers to a training place specifically for Japanese martial arts such as aikido, judo, karate, or samurai;[1] in Japan, any physical training facility, including professional wrestling schools, may be called dōjō because of its close martial arts roots.[2] The term can also refer to a formal training place for any of the Japanese arts ending in "do", meaning "way".</p>

	<form>
	First Name:<br>
	<input type="text" name="Firstname"><br>
	Last Name:<br>
	<input type="text" name="Lastname"><br>
	Phone Number:<br>
	<input type="text" name="Phone Number"><br>
	</form>
	</body>
</html>