<html>
	<head>
		<meta charset="utf-8">
		<title>Sneaky like a NINJA</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
	<h1>#ninja4life</h1>
	<p>It is difficult to pin down the emergence of the first ninja, more properly called shinobi. After all, people around the world have always used spies and assassins.</p>
	<p>Japanese folklore states that the ninja descended from a demon that was half man and half crow. However, it seems more likely that the ninja slowly evolved as an opposing force to their upper-class contemporaries, the samurai, in early feudal Japan.</p>
	</body>
</html>