<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="Junaid_page" content="Discription">
	<!-- linking a css style sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
	<!-- linking a javascript file -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->
	<!-- linking an image -->
</head>
<body>
	<div id="wrapper">		
		
		<form action='/users' method='post'>
			Your Name: <input type='text' name='name'>
			Dojo Location: <select name="location">
				<option value="{{'Dallas'}}">Dallas</option>
				<option value="{{'San Jose'}}">San Jose</option>
				<option value="{{'Seattle'}}">Seattle</option>
			</select>
			Faviorite Language: <select name="language">
				<option value="{{'java'}}">Java</option>
				<option value="{{'PHP'}}">PHP</option>
				<option value="{{'Ruby'}}">Ruby</option>
			</select>
			Comment (optional): <input type='text' name='comment'>
			<input type='submit' value='Button'>
		</form>
	</div>
</body>
</html>